*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --primary-color: #161625;
  --secondary-color: #ffffff;
  --font-color: #000;
  --bg-color: #536390;
  --heading-color: #fff;

}

[data-theme="dark"] {
  --primary-color: #9f9cf3;
  --secondary-color: #3e538f;
  --font-color: #fff;
  --bg-color: #161625;
  --heading-color: #fff;
}

html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
  /* -webkit-filter: invert(100%);
  filter: invert(100%); */
}

body {
  font-family: sans-serif;
  background-color: var(--bg-color);
  /* -webkit-filter: invert(100%);
  filter: invert(100%); */
}

.wrapper {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

header {
  text-align: center;
  padding: 5px;
  padding-top: 0px;
  margin-top: -1rem;
  color: var(--heading-color);
}

h2 {
  margin-top: -.5rem;
}

.card {
  background-color: var(--secondary-color);
  border-radius: 5px;
  border-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  color: var(--font-color);
  font-size: 18px;
  margin: 0 auto;
  max-width: 800px;
  padding: 30px 40px;
}

.darkToggle {
  position: relative;
  margin-top: -3rem;
  left: 80%;
  padding-bottom: 1rem;
  width: fit-content;
}

.card-header::after {
  content: " ";
  display: block;
  width: 100%;
  background: var(--primary-color);
  height: 2px;
}

.card-body {
  min-height: 100px;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.btn-wrapper{
  display: flex;
  justify-content: center;
  margin-top: -2rem;
}

.btn-md {
  text-align: center;
  cursor: pointer;
  padding: 8px;
  border-radius: 20px;
  border-color: transparent;
  position: relative;
  margin-top: -2rem;
}

/* slider from w3schools */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 3rem;
  height: 1.5rem;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.1rem;
  width: 1.1rem;
  left: .25rem;
  bottom: .22rem;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(120%);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* end slider css */

input {
  border-radius: 6px;
  border-style: solid;
  height: 2rem;
  width: 12rem;
  margin-top: 1rem;
  font-size: 1rem;
  text-align: center;
}

input:focus::placeholder {
  color: transparent;
}

#inputLen {
  margin-left: auto;
  margin-top: 1.25rem;
  margin-bottom: 1rem;
  
}

.card-footer {
  text-align: center;
}

.card-footer::before {
  content: " ";
  display: block;
  width: 100%;
  background: var(--primary-color);
  margin-top: 4%;
  margin-bottom: 2rem;
  height: 2px;
}

.card-footer::after {
  content: " ";
  display: block;
  clear: both;
}

.btn {
  border: none;
  background-color: hsl(360, 91%, 36%);
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px
    0px;
  color: hsl(0, 0%, 100%);
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  margin: 28px 16px 16px 20px;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
}

button[disabled] {
  cursor: default;
  background: #c0c7cf;
}

.float-right {
  float: right;
}

textarea::placeholder, textarea {
  color: var(--heading-color);  
}

#password {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  display: block;
  width: 100%;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 100px;
  font-size: 1.2rem;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid var(--secondary-color);
  border-radius: 6px;
  resize: none;
  overflow: hidden;
  background-color: var(--bg-color);
}

@media (max-width: 690px) {
  h2 {
    text-align: center;
  }

  .darkToggle {
    position: relative;
    margin-top: -20px;
    left: 30%;
    padding-bottom: 5px;
    width: fit-content;
  }

  .btn {
    font-size: 1rem;
    margin: 6px 0px 0px 0px;
    padding: 10px 15px;
  }

  .btn-md{
    padding: 7px;
    bottom: -12px;
  }

  .flex-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .card-footer::before {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
  }

  .switch {
    margin-top: .5rem;
    margin-bottom: .5rem;
  }

  #password {
    font-size: .9rem;
  }
}